/* ==================
        Colors          
=================== */


/*  Primary  */

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

/*  Neutral  */

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

/* ======================= 
        Typography 
======================== */


/*  Body Copy  */

$font-size: 15px;

/*  Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
$f-family: 'Poppins',
sans-serif;
$fw-200: 200;
$fw-400: 400;
$fw-600: 600;

/*  Main  */

.container {
    font-size: 0.9375rem;
    font-family: $f-family;
    font-weight: $fw-200;
    color: $very-dark-blue;
    text-align: center;
    line-height: 1.5;
    padding: 3rem 3rem;
    background-color: $very-light-gray;
}

h1 {
    font-weight: inherit;
}

span {
    font-weight: $fw-600;
    display: block;
}

.features {
    display: flex;
    flex-direction: column;
}

@mixin features-theme($color: $cyan) {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin: 2rem 0;
    border-top-width: 0.3rem;
    border-top-style: solid;
    border-top-color: $color;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1rem 2rem 2rem -2rem $very-dark-blue;
    h2 {
        text-align: start;
    }
    p {
        font-weight: 400;
        color: $grayish-blue;
        text-align: left;
        margin: 0.5rem 0 1.5rem 0;
    }
    .icon-images {
        align-self: flex-end;
    }
}

.feature-1 {
    @include features-theme($color: $cyan);
}

.feature-2 {
    @include features-theme($color: $red);
}

.feature-3 {
    @include features-theme($color: $blue);
}

.feature-4 {
    @include features-theme($color: $orange);
}